<h3><%= link_to "New Pin", new_user_pin_path %></h3>
<% @pins.each do |pin| %>



<%# image_tag src="#{pin.image_url}", :class => "pin-photo" %>
<%= link_to (image_tag src="#{pin.image_url}", :class => "pin-photo"), user_pin_path(pin.user_id, pin) %>

<% end %>
